# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*

# sll
us-east-2-bundle.pem

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp
